package views

import . "harmony/internal/server/views"

type ValidateEmailForm struct {
	EmailAddress    string
	ValidationCode  string
	InvalidCode     bool
	UnexpectedError bool
}

templ ValidateEmailPage(form ValidateEmailForm) {
	@Layout(Contents{Body: validateEmailPageBody(form)})
}

templ ValidateEmailFormContent(form ValidateEmailForm) {
	@CSRFFields()
	@FieldOptions{
		InputOptions: InputOptions{
			Id:        "email",
			Name:      "email",
			InputType: "text",
			Required:  true,
			Value:     form.EmailAddress,
		},
		Label: "Email",
	}
	@FieldOptions{
		InputOptions: InputOptions{
			Id:        "challenge-response",
			Name:      "challenge-response",
			InputType: "text",
			Required:  true,
			Autofocus: true,
			Value:     form.ValidationCode,
		},
		Label: "Validation code",
	}
	if form.InvalidCode {
		<div role="alert" class="text-red-700">
			Wrong email or validation code
		</div>
	}
	if form.UnexpectedError {
		<div role="alert" class="text-red-700">
			Unexpected error. Please try again lager
		</div>
	}
	<button
		type="submit"
		class="w-full text-white bg-cta hover:bg-ctabase-900 focus:ring-4
    focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm
    px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700
    dark:focus:ring-primary-800"
	>Validate</button>
}

templ validateEmailPageBody(form ValidateEmailForm) {
	@AuthPageLayout() {
		<div class="bg-white rounded-lg shadow-md border md:mt-0 w-full sm:max-w-xl xl:p-0 dark:bg-gray-800 dark:border-gray-700">
			<main class="p-6 space-y-4 md:space-y-6 sm:p-8">
				<h1 class="text-center text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-4xl dark:text-white">
					Validate Email
				</h1>
				<form class="space-y-4 md:space-y-6" hx-post="" hx-swap="innerHTML">
					@ValidateEmailFormContent(form)
				</form>
			</main>
		</div>
	}
}
