package views

import "context"
import . "harmony/internal/web/server/views"
import "harmony/internal/auth"

func displayName(ctx context.Context) string {
     user, _ := auth.AuthenticatedUser(ctx)
     return user.DisplayName
}

templ HostsPage() {
	@Layout(Contents{Body: hostsPage()})
}

templ hostsPage() {
	<div class="container mx-auto py-4">
		<h1 class="text-4xl font-bold text-center py-4">Welcome, {displayName(ctx)}</h1>
		<p>
			Your services
		</p>
	</div>
}
